# Python
__pycache__/
*.py[cod]
*.so
.env
venv/
.venv/

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/

# OS
.DS_Store1
rebuild_longstoryshort_rebuilt_readable_v3.py

# local/dev
SESSION_MEMORY.md
dnd_trader.db
frontend/static/images/Referens/
frontend/static/images/Screen/
